In [1]:
import pandas as pd

# Create Empty DataFrame

In [4]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

# Create DataFrame using list

In [5]:
list = [1, 2, 4, 6, 8]
list

[1, 2, 4, 6, 8]

In [10]:
ls_df = pd.DataFrame(list)
ls_df

   0
0  1
1  2
2  4
3  6
4  8

# If we want to many columns so we take list of list

In [11]:
ls_of_ls = [[1,2,3], [4,5,6], [7,8,9]]
ls_of_ls

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [15]:
ls_df = pd.Series(ls_of_ls)
ls_df

0    [1, 2, 3]
1    [4, 5, 6]
2    [7, 8, 9]
dtype: object

In [16]:
ls_df = pd.Series(ls_of_ls, name = 'id')
ls_df

0    [1, 2, 3]
1    [4, 5, 6]
2    [7, 8, 9]
Name: id, dtype: object

In [18]:
ls_df = pd.Series(ls_of_ls, name = 'id', index = ['a', 'b', 'c'])
ls_df

a    [1, 2, 3]
b    [4, 5, 6]
c    [7, 8, 9]
Name: id, dtype: object

# Create DataFrame using dictionaries of List

In [21]:
dict = {'id':[1,2,3,4,5]}
dict

{'id': [1, 2, 3, 4, 5]}

In [23]:
dc_df = pd.DataFrame(dict)
print(dc_df)

   id
0   1
1   2
2   3
3   4
4   5

In [32]:
dict = {'ID':[1,2,3,4,5], 'SN':[6,7,8,8,9]}
dict

{'ID': [1, 2, 3, 4, 5], 'SN': [6, 7, 8, 8, 9]}

In [33]:
dc_df = pd.DataFrame(dict)
print(dc_df)

   ID  SN
0   1   6
1   2   7
2   3   8
3   4   8
4   5   9

# Create DataFrame using List of Dictionary

In [34]:
list_of_dict = [{'a': 1, 'b':2}, {'a':1, 'b':2}]
list_of_dict

[{'a': 1, 'b': 2}, {'a': 1, 'b': 2}]

In [36]:
ls_df = pd.DataFrame(list_of_dict)
ls_df

   a  b
0  1  2
1  1  2

# Create unequal dict

In [37]:
list_of_dict = [{'a': 1, 'b':2}, {'a':1, 'b':2, 'c':4}]
list_of_dict

[{'a': 1, 'b': 2}, {'a': 1, 'b': 2, 'c': 4}]

In [38]:
ls_df = pd.DataFrame(list_of_dict)
ls_df

   a  b    c
0  1  2  NaN
1  1  2  4.0

# Create DataFrame using Dict of series

In [47]:
dict_sr = {'a': pd.Series([1,2,3,4]), 'b': pd.Series([6,7,8,9])}
df = pd.DataFrame(dict_sr)
df

   a  b
0  1  6
1  2  7
2  3  8
3  4  9