In [1]:
import pandas as pd

In [3]:
pd.__version__

'1.4.2'

# Create empty series

In [74]:
emp = pd.Series([])
emp

C:\Users\kumar\AppData\Local\Temp\ipykernel_27940\1110156643.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  emp = pd.Series([])

Series([], dtype: float64)

# Creater series using list

In [12]:
lst = [1, 2, 3, 4]
lst

[1, 2, 3, 4]

In [17]:
ls_sr = pd.Series(lst)
ls_sr

0    1
1    2
2    3
3    4
dtype: int64

In [19]:
type(ls_sr)

pandas.core.series.Series

# Create series with shortcut method

In [20]:
sr = pd.Series([1, 2, 3, 4])
sr

0    1
1    2
2    3
3    4
dtype: int64

# Change index

In [22]:
sr = pd.Series([1, 2, 3, 4], index = ['a', 'b', 'c', 'd'])
sr

a    1
b    2
c    3
d    4
dtype: int64

# Change index with data type

In [24]:
sr = pd.Series([1, 2, 3, 4], index = ['a', 'b', 'c', 'd'], dtype = float)
sr

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

# Create name of column data values

In [75]:
sr = pd.Series([1, 2, 3, 4], index = ['a', 'b', 'c', 'd'], dtype = float, name = 'id no.')
sr

a    1.0
b    2.0
c    3.0
d    4.0
Name: id no., dtype: float64

# Create series with the help of scalar values|

In [26]:
sr = pd.Series(0.5)
sr

0    0.5
dtype: float64

In [31]:
sr = pd.Series(0.5, index = [1,2,3,4]) #need many scalar values 
sr

1    0.5
2    0.5
3    0.5
4    0.5
dtype: float64

# Create series using dictionaries

In [32]:
dict = {'a':1, 'b':2 }
dict

{'a': 1, 'b': 2}

In [38]:
series = pd.Series(dict)
print(series)

a    1
b    2
dtype: int64

# Access first value of series

In [43]:
sr = pd.Series([1,2,3,4,5])
sr

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [45]:
sr[0]  # this will print the value of index 0

1

In [46]:
sr[3]

4

# Slicing in series

In [57]:
sr[0:3]

0    1
1    2
2    3
dtype: int64

In [58]:
sr[0:4]

0    1
1    2
2    3
3    4
dtype: int64

# Access Maximum and Minimum value in series

In [59]:
max(sr)

5

In [60]:
min(sr)

1

# Perform mathematic operation in series

In [61]:
sr1 = pd.Series([1, 2 ,3, 4 ,5])
sr1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [62]:
sr2 = pd.Series([5, 6, 7, 8, 9])
sr2

0    5
1    6
2    7
3    8
4    9
dtype: int64

In [63]:
sr1 + sr2

0     6
1     8
2    10
3    12
4    14
dtype: int64

In [64]:
sr1 - sr2

0   -4
1   -4
2   -4
3   -4
4   -4
dtype: int64

In [65]:
sr1 * sr2

0     5
1    12
2    21
3    32
4    45
dtype: int64

In [66]:
sr1/sr2

0    0.200000
1    0.333333
2    0.428571
3    0.500000
4    0.555556
dtype: float64

In [69]:
sr3 = pd.Series([1,2,3])
sr3

0    1
1    2
2    3
dtype: int64

In [70]:
sr1 + sr3

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64